<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>a</string>
	<string>again</string>
	<string>all</string>
	<string>almost</string>
	<string>also</string>
	<string>although</string>
	<string>always</string>
	<string>among</string>
	<string>an</string>
	<string>and</string>
	<string>another</string>
	<string>any</string>
	<string>are</string>
	<string>as</string>
	<string>at</string>
	<string>be</string>
	<string>because</string>
	<string>been</string>
	<string>before</string>
	<string>being</string>
	<string>between</string>
	<string>both</string>
	<string>but</string>
	<string>by</string>
	<string>can</string>
	<string>could</string>
	<string>did</string>
	<string>do</string>
	<string>does</string>
	<string>done</string>
	<string>due</string>
	<string>during</string>
	<string>each</string>
	<string>either</string>
	<string>enough</string>
	<string>especially</string>
	<string>etc</string>
	<string>for</string>
	<string>found</string>
	<string>from</string>
	<string>further</string>
	<string>had</string>
	<string>has</string>
	<string>have</string>
	<string>having</string>
	<string>here</string>
	<string>how</string>
	<string>however</string>
	<string>i</string>
	<string>if</string>
	<string>in</string>
	<string>into</string>
	<string>is</string>
	<string>it</string>
	<string>its</string>
	<string>itself</string>
	<string>just</string>
	<string>kg</string>
	<string>km</string>
	<string>made</string>
	<string>mainly</string>
	<string>make</string>
	<string>may</string>
	<string>mg</string>
	<string>might</string>
	<string>ml</string>
	<string>mm</string>
	<string>most</string>
	<string>mostly</string>
	<string>must</string>
	<string>nearly</string>
	<string>neither</string>
	<string>no</string>
	<string>nor</string>
	<string>obtained</string>
	<string>of</string>
	<string>often</string>
	<string>on</string>
	<string>our</string>
	<string>overall</string>
	<string>perhaps</string>
	<string>quite</string>
	<string>rather</string>
	<string>really</string>
	<string>regarding</string>
	<string>seem</string>
	<string>seen</string>
	<string>several</string>
	<string>should</string>
	<string>show</string>
	<string>showed</string>
	<string>shown</string>
	<string>shows</string>
	<string>significantly</string>
	<string>since</string>
	<string>so</string>
	<string>some</string>
	<string>such</string>
	<string>than</string>
	<string>that</string>
	<string>the</string>
	<string>their</string>
	<string>theirs</string>
	<string>them</string>
	<string>then</string>
	<string>there</string>
	<string>therefore</string>
	<string>these</string>
	<string>they</string>
	<string>this</string>
	<string>those</string>
	<string>through</string>
	<string>thus</string>
	<string>to</string>
	<string>upon</string>
	<string>use</string>
	<string>used</string>
	<string>using</string>
	<string>various</string>
	<string>very</string>
	<string>was</string>
	<string>we</string>
	<string>were</string>
	<string>what</string>
	<string>when</string>
	<string>while</string>
	<string>with</string>
	<string>within</string>
	<string>without</string>
	<string>would</string>
	<string>which</string>
	<string>about</string>
</array>
</plist>
