<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fields</key>
	<dict>
		<key>All Fields</key>
		<string>[ALL]</string>
		<key>Title</key>
		<string>[TI]</string>
		<key>Title+Abstract</key>
		<string>[TIAB]</string>
		<key>Author</key>
		<string>[AU]</string>
		<key>Author (Given Name)</key>
		<string>[AUG]</string>
		<key>Author (Family Name)</key>
		<string>[AUF]</string>
		<key>Journal</key>
		<string>[TA]</string>
		<key>Volume</key>
		<string>[VI]</string>
		<key>Pages</key>
		<string>[PG]</string>
		<key>Year</key>
		<string>[YR]</string>
		<key>Month</key>
		<string>[MN]</string>
		<key>DBLP Key</key>
		<string>[DK]</string>
	</dict>
	<key>order</key>
	<array>
		<string>All Fields</string>
		<string>SPACER</string>
		<string>Title</string>
		<string>Title+Abstract</string>
		<string>SPACER</string>
		<string>Author</string>
		<string>Author (Given Name)</string>
		<string>Author (Family Name)</string>
		<string>SPACER</string>
		<string>Journal</string>
		<string>Volume</string>
		<string>Pages</string>
		<string>Year</string>
		<string>Month</string>
		<string>SPACER</string>
		<string>DBLP Key</string>
	</array>
</dict>
</plist>
